body::before {
    content: "";
    background-image: url('./image/78.jpg');
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.login {
    width: 450px;
    height: 300px;
    background: rgb(196, 182, 182);
    position: absolute;
    opacity: 0.8;
    top: 40%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

.name {
    margin-top: 15%;
    margin-left: 30%;
}

.password {
    margin-top: 10%;
    margin-left: 30%;
}

#name-password {
    width: 230px;
    height: 27px;
}

.log-button {
    width: 230px;
    height: 25px;
    margin-top: 10%;
    margin-left: 30%;
}